.main-pruductos{
    .card {
        width: 20rem;
        height: 21.875rem;
        border: .0625rem solid rgba(0, 0, 0, 0.281);
        border-radius: .9375rem;
        overflow: hidden;
        box-shadow: .125rem .125rem .625rem gray;
        margin: .3125rem;
        margin-top: .3125rem;
    }
}
       